/*CLEARFIX*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* для IE6-7 */
.clearfix {
    zoom: 1;
}
/*---END OF CLEARFIX---*/
.xdebug-error, .xe-fatal-error{
    position: relative;
    top: 150px;
    font-size: 16px;
    color: #000;
}
html{
    height: 100%;
    font-size: 100%;
}

body{
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    /*background: url("../i/bgGallery/rsk/main.JPG") no-repeat center fixed;*/
    background-size:  cover;
}

body a{
    color: #fff;
}

#mane-page{
    overflow: hidden;
}


/*FOOTER*/

footer{
    width: 100%;
    position: fixed;
    height: 25px;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    font-size: 0.875em;
    line-height: 25px;
    z-index: 200;
}

.e-mail{
    float: left;
    margin-left: 20px;
    margin-right: 3px;
}

.rights{
    float: right;
    margin-right: 20px;
}

.hidden{
    display: none;
}

.purechat-widget-inner{
    background: none !important;
}

.purechat-expanded,
.purechat-collapsed-outer{
    background: rgba(0, 0, 0, 0.5) !important;
}

div.purechat-widget .purechat-expanded,
div.purechat-widget .purechat-collapsed-outer{
    border-radius: 0 !important;
    padding: 10px 10px 0 !important;
}

div.purechat.purechat-bottom-left{
    bottom: 35px !important;
    left: 0 !important;
}

div.purechat.purechat-bottom-left.purechat-widget-expanded{
    bottom: 25px !important;
}

.purechat-widget .purechat-widget-title-link, .purechat-window .purechat-widget-title-link{
    display: inline-block !important;
    vertical-align: top;
    text-transform: uppercase;
}

.purechat-widget img{
    display: inline-block;
}

@media screen and (max-width:799px) {
    div.purechat.purechat-bottom-left{
        bottom: 25px !important;
        left: 0 !important;
    }
}