

/*SIDEBAR*/
.sidebar-list{
    position: fixed;
    z-index: 150;
}

.sidebar-list a{
    display: block;
}

.tours-list,
.guides-list{
    height: 100%;
}

/*MAX-WIDTH 799*/

/*MIN-WIDTH 800*/

@media screen and (min-width:800px){

    body {
        font-size: 13px;
    }

    /*sidebar*/

    .sidebar-list{
        background: rgba(0, 0, 0, 0.6);
        right: -250px;
        top:100px;
        bottom: 25px;
        cursor: pointer;
    }

    .sidebar-list.white_theme{
        background: rgba(255, 255, 255, .95);
        color: #000;
        box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    }

    .sidebar-list.white_theme .nav_title{
        text-shadow: none;
    }

    .sidebar-list_content{
        width: 210px;
        height: 100%;
        padding-left: 40px;
        overflow-y: auto;
    }

    .sidebar-list.show_nav-list{
        right: 0;
    }

    .show_section_title{
        right: -210px;
    }

    .show_section_title:hover{
        right: 0;
    }

    .show_section_title:hover .sidebar-list_content{
        padding-left: 5px;
    }

    .nav_title{
        width: 20px;
        font-size: 1.875em;
        line-height: 1;
        word-break: break-all;
        top: 50%;
        margin: -60px 0 0;
        opacity: 1;
    }

    .show_section_title:hover .nav_title{
        opacity: 0;
    }

    /*sidebar item*/

    .sidebar-list li{
        height: 120px;
        margin: 0 5px 5px 0;
        position: relative;
        overflow: hidden;
    }

    .sidebar-list li:last-child{
        margin-bottom: 0;
    }

    .sidebar-list li a{
        line-height: 120px;
    }

    .sidebar-list li img{
        max-width: 100%;
        position: absolute;
        top: 0;
    }

    .sidebar-list li a:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
        z-index: 1;
    }

    .sidebar-list li:hover a:before{
        background: rgba(0,0,0,0);
    }

    .nav-list.sidebar-list .title_item{
        vertical-align: bottom;
        box-sizing: border-box;
        width: 100%;
        background: rgba(0,0,0,.5);
        /*opacity: .5;*/
        /*font-size:  1.25em;*/
        font-size:  1em;
        /*font-weight: bold;*/
        text-transform: uppercase;
        padding: 6px 10px 5px;
        position: relative;
        z-index: 1;
    }

    .sidebar-list li:hover .title_item{
        opacity: 1;
    }
}

@media screen and (min-width:960px){

    body {
        font-size: 16px;
    }

    /*sidebar item*/

    .sidebar-list{
        right: -300px;
        top: 115px;
    }

    .show_section_title{
        right: -260px;
    }

    .sidebar-list_content{
        width: 260px;
    }

    .nav_title{
        margin: -75px 0 0;
    }

    .sidebar-list li{
        height: 150px;
    }

    .sidebar-list li a{
        line-height: 150px;
    }
}
/*---END OF SIDEBAR---*/
