.text-editor-container{
    padding-top: 150px;
}
.text-editor{
    /*max-width: 650px;*/
    margin: auto;
    padding: 25px 0;
}
/*.textEditorWraper{
    height: calc(100vh - 250px)!important;
}*/
#cke_1_contents{
    height: calc(100vh - 277px)!important;
}
.text-editor-inner{
    /*margin-bottom: 100px;*/
}

.Editor-container{
    margin-bottom: 10px;
}

.tour-item, .guide-item{
    margin: 0 auto 40px;
    float: none !important;
    max-width: 550px;
}


.tour-item .fa-thumb-tack{
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 25px;
    color: #00a005;
    z-index: 1;
}

.tour-item .fa-thumb-tack.active{
    color: #006505;
    font-size: 21px;
}

.tour-item .fa-thumb-tack.active:hover{
    color: #00a005;
}

.splash-screen, .view_tour .form-control{
    position: relative;
    z-index: 100;
}

/*.btn-img-item{
    position: absolute;
}*/

.progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
.progress_bar.loading {
    opacity: 1.0;
}
.progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}

.tour-item h2,
.tour-item h2 input{
    font-size: 1.2em !important;
    font-weight: bold;
    margin-top: auto;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.header_tour_content input,
.tour-item h2 input{
    border: 0;
    background: transparent;
}

.price .form-control{
    height: auto;
    display: inline-block;
    width: 105px;
    border: 0;
    background: transparent;
    font-size: 1.1em;
    color: #fff;
}

.price .form-control[name=price]{
    width: 50px;
}


.tours-list_new h3{
    text-align: center;
}

.tours-list_new h3 input{
    text-align: center;
    color: #fff;
    border: 0;
    background: transparent;
}

.view_tour_wrapper{
    position: relative;
}

.view_tour{
    position: relative;
    height: 100vh;
}

.main-image-wrapper{
    width: 100%;
    height: calc(100% - 102px);
    position: relative;
}

.main-image-wrapper .main-image{
    height: calc(100% - 2px);
}

.thumb-list li{
    display: inline-block;
    position: relative;
}

.wrap-img-info{
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    border-radius: 4px;
    padding: 5px;
    background: #fff;
    display: none;
    position: absolute;
    left: 50%;
    top: -95px;
    width: 550px;
    margin-left: -280px;
}

.wrap-img-info .arrow{
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: 0;
    left: 50%;
    margin-left: -11px;
    position: absolute;
}
.wrap-img-info .arrow:after {
    content: "";
    border-color: transparent;
    border-width: 10px;
    border-bottom-width: 0;
    border-top-color: #fff;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.thumb-list{
    position: relative;
    z-index: 1;
}

.wrap-img-info input{
    margin-bottom: 2px;
}

.wrap-img-info input:last-child{
    margin-bottom: 0;
}
.gallery{
    height: 100%;
    /*margin: 115px 0;*/
}

.gallery .wrap_gallery{
    overflow: visible;
}

.gallery .main-image{
    box-shadow: none;
}

.gallery .thumb{
    display: block;
}

.thumb-list li .btn{
    margin-top: 3px;
    position: relative;
    z-index: 10;
}
.thumb-list li .btn:last-child{
    margin-left: 10px;
}

.parent-upload {
    position: relative;
}

.gallery input[type=file] {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*font-size: 100px;*/
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    z-index: 1;
}

.thumb-list li input[type=file] {
    bottom: 25px;
}

.main-image-wrapper .form-control{
    position: relative;
    z-index: 1;
}

.header_tour_content h3 .inline-block{
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: inline-block;
}
.header_tour_content h3{
    margin-bottom: 30px;
}
.header_tour_content h4 input{
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.header_tour_content .title,
.header_tour_content .title-long{
    display: inline-block;
    width: auto;
    font-size: 46px;
    text-transform: uppercase;
    height: auto;
    color: #fff;
    font-family: "PT Sans",sans-serif;
    text-align: center;
    font-weight: bold;
}


    /*BOOTSTRAPs STUFF*/
.input-groups{
    max-width: 650px;
    margin: 0 auto 40px;
}
header .input-groups{
    padding-top: 35px;
}
.absolute{
    position: absolute;
}
.text-center.absolute{
    padding-top: 230px;
    width: 100%;
}
.pointer-events-none{
    pointer-events: none;
}

.modal{
    color: #333;
}

.modal-header{
    border: 0;
}

.modal-dialog{
    margin-top: 300px;
}

.modal-header .close{
    margin-top: 3px;
}
/*EXTRA*/
.book_button:hover{
    text-decoration: none;
    color: #fff;
}

input::-webkit-input-placeholder {
    color:#fff;
}
input:-moz-placeholder {
    color:#fff;
}
input:-ms-input-placeholder{
    color:#fff;
}