.text-editor-container{
    padding-top: 100px;
}
.text-editor{
    max-width: 650px;
    margin: auto;
    padding: 25px 0;
}

.Editor-container{
    margin-bottom: 10px;
}

.tour-item, .guide-item{
    margin: auto;
    float: none !important;
}


.splash-screen, .view_tour .form-control{
    position: relative;
    z-index: 100;
}

/*.btn-img-item{
    position: absolute;
}*/

.progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
.progress_bar.loading {
    opacity: 1.0;
}
.progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}

.tour-item h2,
.tour-item h2 input{
    font-size: 1.2em !important;
    font-weight: bold;
    margin-top: auto;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.tour-item h2 input{
    border: 0;
    background: transparent;
}

.price .form-control{
    display: inline-block;
    width: 75px;
    border: 0;
    background: transparent;
    font-size: 1.1em;
    color: #fff;
}

.price .form-control[name=price]{
    width: 50px;
}


.tours-list_new h3{
    text-align: center;
}

.tours-list_new h3 input{
    text-align: center;
    color: #fff;
    border: 0;
    background: transparent;
}

.view_tour_wrapper{
    position: relative;
}

.view_tour{
    position: relative;
    height: 100vh;
}

.main-image-wrapper{
    width: 100%;
    height: calc(100% - 102px);
    position: relative;
}

.main-image-wrapper .main-image{
    height: calc(100% - 2px);
}

.thumb-list li{
    display: inline-block;
    position: relative;
}

.wrap-img-info{
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    border-radius: 4px;
    padding: 5px;
    background: #fff;
    display: none;
    position: absolute;
}

.wrap-img-info input{
    margin-bottom: 2px;
}

.wrap-img-info input:last-child{
    margin-bottom: 0;
}

.gallery .wrap_gallery{
    overflow: visible;
}

.gallery .main-image{
    box-shadow: none;
}

.gallery .thumb{
    display: block;
}

.thumb-list li .btn{
    margin-top: 3px;
    position: relative;
    z-index: 10;
}
.thumb-list li .btn:last-child{
    margin-left: 10px;
}

.parent-upload {
    position: relative;
}

.gallery input[type=file] {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*font-size: 100px;*/
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    z-index: 1;
}

.thumb-list li input[type=file] {
    bottom: 25px;
}