/*HEADER*/

header, footer, .sub_header{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.navigation{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}


/*BUG FIX*/
/*Z-index bugs on Android 3/4*/
.slogan, .sidebar-list,.navigation{
    -webkit-transform: translateZ(0);
}

/*---END OF BUG FIX---*/



@media screen and (max-width:799px){
    
    /*SIDEBAR*/
    .nav-list_content{
        -webkit-transition: height .3s;
        -moz-transition: height .3s;
        -ms-transition: height .3s;
        -o-transition: height .3s;
        transition: height .3s;
    }
    .nav_title{
        -webkit-transition: width .2s;
        -moz-transition: width .2s;
        -ms-transition: width .2s;
        -o-transition: width .2s;
        transition: width .2s;
    }

    .nav_title_text,
    .nav_title_icon{
        -webkit-transition: opacity .2s, visibility .2s;
        -moz-transition: opacity .2s, visibility .2s;
        -ms-transition: opacity .2s, visibility .2s;
        -o-transition: opacity .2s, visibility .2s;
        transition: opacity .2s, visibility .2s;
    }

    .nav-list .nav-drop_down,
    .expand_item .nav-drop_down{
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);

        -webkit-transition:
            visibility 0s linear 200ms,
            -webkit-transform 200ms linear;
        -moz-transition:
            visibility 0s linear 200ms,
            -moz-transform 200ms linear;
        -ms-transition:
            visibility 0s linear 200ms,
            -ms-transform 200ms linear;
        -o-transition:
            visibility 0s linear 200ms,
            -o-transform 200ms linear;
        transition:
            visibility 0s linear 200ms,
            transform 200ms linear;
    }

    .show_nav-list .nav-drop_down,
    .expand_item:hover .nav-drop_down{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
    
    .nav-list .list_item{
        -webkit-transition: background .3s;
        -moz-transition: background .3s;
        -ms-transition: background .3s;
        -o-transition: background .3s;
        transition: background .3s;
    }

}

@media screen and (min-width: 800px){

    .navigation .list_item{
        -webkit-transition: border-color .5s;
        -moz-transition: border-color .5s;
        -ms-transition: border-color .5s;
        -o-transition: border-color .5s;
        transition: border-color .5s;
    }


    .sidebar-list{
        transition: right .5s;
    }

    .nav_title{
        transition: opacity .5s;
    }

    .sidebar-list_content{
        transition: padding .5s;
    }

    .sidebar-list li a:before{
        transition: background .3s;
    }

    .sidebar-list .title_item{
        transition: opacity .3s;
    }

    .scroll_down_container{
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
    }


    .wrap-dropdown-submenu{
        width: 182px;
        height: 0;
        -webkit-transition: height .3s;
        -moz-transition: height .3s;
        -ms-transition: height .3s;
        -o-transition: height .3s;
        transition: height .3s;
    }

    .expand_item .inner-dropdown-submenu{
        padding-bottom: 0 !important;
        box-shadow: none !important;
        overflow-y: auto;
        /*height: 0;*/
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);

        -webkit-transition:  visibility 0s linear 200ms,   -webkit-transform 200ms linear, opacity .3s;
        -moz-transition: visibility 0s linear 200ms, -moz-transform 200ms linear;
        -ms-transition: visibility 0s linear 200ms,
        -ms-transform 200ms linear;
        -o-transition: visibility 0s linear 200ms,
        -o-transform 200ms linear;
        transition:
        visibility 0s linear 200ms,
        transform 200ms linear, opacity .2s;
        /*visibility: hidden;*/
    }

    .expand_item:hover .inner-dropdown-submenu{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

        /*-webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;*/
        visibility: visible;
        /*height: 100%;*/
        opacity: 1;
    }


    .expand_item:hover .wrap-dropdown-submenu{
        //height: 100%;
        height: 500px;
    }
}