<script type="text/template" id="contact">
    <section class="whiten form-container contact">
        <h5> Get in touch with us.  We'd love to hear from you! Feel free to ask us any questions on our <a href="https://www.facebook.com/FriendlyGuideinMoscow">Facebook</a> and <a href="https://plus.google.com/114606056107322314081">Google+</a> pages</h5>
        <div class="mail_success">
            <div class="success_txt">Thank you for your message</div>
            <div class="thank-you">We will contact you within 24 hours</div>
        </div>
        <div class="form_box">
            <form id="booking_form" method="post" action="" class="clearfix">
                <input class="name-field" type="text" name="name" placeholder="Name"/>
                <input class="email-field" type="email" name="email"  placeholder="E-mail"/>
                <textarea class="comments-field" name="message" placeholder="Message"></textarea>
                <input class="book_button" value="Submit" type="submit">
            </form>
        </div>
    </section>
</script>