<script  type="text/template" id="alina">
    <div class="guide_page">
        <div class="header_title">
            <div class="header_tour_content">
                <h3>Alina</h3>
            </div>
        </div>
        <div class="overlay_view_tour"></div>

        <section class="gallery cycle-slideshow" data-cycle-slides="li.cycle-slide" data-cycle-pager=".cycle-pager">
            <ul>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/alina/01.jpg')"></li>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/alina/02.jpg')"></li>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/alina/03.jpg')"></li>
            </ul>
            <div class="cycle-pager"></div>
        </section>
        <!--<section class="view_tour" style="background-image: url('/i/bgGallery/photo-tour/01.jpg');"></section>-->
        <div class="scroll_down">
            <div class="scroll_down_container">
                <div class="scroll_down_text">About me</div>
                <div class="scroll_down_icon"></div>
            </div>
        </div>

        <section class="description content_box whiten">
            <h5>Dear friend,</h5>
            <p>
                Four years ago, I had my first tour around Red Square and the city center, with an Australian tourist
                whose mother was Russian.
            </p>
            <p>
                The idea of my tours was simple: Make people feel the local atmosphere, give them the best experience,
                while being relaxed and happy. This is my city, tourists are my guests, and all I want is to be a friend
                for my guests!
            </p>
            <p>
                And today, three years later, my passion still remains the same. Of course, my itineraries are changing,
                ideas are evolving, and I’ve found more friendly and talented people to join the team, which is why I’m
                so excited to welcome you to Alina Moscow tours.
            </p>
            <p>
                Our team of dedicated guides and route creators are working to deliver you exciting tours, authentic
                experiences, amazing deals for meals and souvenirs, as well as expert advice on what to do, where to go,
                and how to make the most of your time in Moscow.
            </p>

            <p>
                <strong>Get started by exploring our tours!</strong><br/>
                Just like my very first tour, our website, tours, advice, and recommendations are designed with you in
                mind. From sights and restaurants to the choice of tour guide, we will try to create a tour to suit you
                best. I know that every tourist is looking for a reliable and friendly guide, to know the most
                fascinating facts about the city, to enjoy a relaxed atmosphere with flexibility and fun.
            </p>

            <p>You, my friend, are my source of inspiration for improvement and perfection. </p>

            <p>
                Social networks like Facebook, Instagram, Twitter, and Pinterest give us the wonderful opportunity to
                share our ideas with you. It's my hope that you’ll find our ideas, tips, and photos worth sharing with
                your friends, family, and colleagues.
            </p>

            <p>
                I promise to keep you engaged, entertained, and inspired while travelling around Moscow.
            </p>

            <p>
                I'm looking forward to your tours with us!
            </p>


            <p>
                <em>
                    Most cordially,<br/>
                    Alina
                </em>
            </p>
        </section>

    </div>
</script>

<script  type="text/template" id="monika">
    <div class="guide_page">
        <div class="header_title">
            <div class="header_tour_content">
                <h3>Monika</h3>
            </div>
        </div>
        <div class="overlay_view_tour"></div>

        <section class="gallery cycle-slideshow" data-cycle-slides="li.cycle-slide" data-cycle-pager=".cycle-pager">
            <ul>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/monika/01.jpg')"></li>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/monika/02.jpg')"></li>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/monika/03.jpg')"></li>
            </ul>
            <div class="cycle-pager"></div>
        </section>
        <!--<section class="view_tour" style="background-image: url('/i/bgGallery/photo-tour/01.jpg');"></section>-->
        <div class="scroll_down">
            <div class="scroll_down_container">
                <div class="scroll_down_text">About me</div>
                <div class="scroll_down_icon"></div>
            </div>
        </div>

        <section class="description content_box whiten">
            <ol>
                <li>I love meeting people!</li>
                <li>I love to party</li>
                <li>I am a fan of funny cartoons and comedies</li>
                <li>A pro in American sitcoms</li>
                <li>Know all the best deals for lunch in Moscow</li>
                <li>Always curious and always ready to discover new places</li>
                <li>Chatting is my second profession</li>
                <li>In love with travelling, skiing, and swimming</li>
                <li>The smell of spring makes me dream</li>
                <li>Independent free spirit is about me</li>
            </ol>
        </section>
    </div>
</script>

<script  type="text/template" id="nastya">
    <div class="guide_page">
        <div class="header_title">
            <div class="header_tour_content">
                <h3>Nastya</h3>
            </div>
        </div>
        <div class="overlay_view_tour"></div>

        <section class="gallery cycle-slideshow" data-cycle-slides="li.cycle-slide" data-cycle-pager=".cycle-pager">
            <ul>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/nastya/01.jpg')"></li>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/nastya/02.jpg')"></li>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/nastya/03.jpg')"></li>
            </ul>
            <div class="cycle-pager"></div>
        </section>
        <!--<section class="view_tour" style="background-image: url('/i/bgGallery/photo-tour/01.jpg');"></section>-->
        <div class="scroll_down">
            <div class="scroll_down_container">
                <div class="scroll_down_text">About me</div>
                <div class="scroll_down_icon"></div>
            </div>
        </div>

        <section class="description content_box whiten">
            <ol>
                <li>I am a photographer</li>
                <li>I start my day with BBC Radio 1</li>
                <li>My mascot is plush toy penguin </li>
                <li>One day I will travel all around the world</li>
                <li>I'm learning French and Italian, not so fast as I would love to though</li>
                <li>My favorite actress is Audrey Hepburn</li>
                <li>I like reading classics, detectives, novels, adventures</li>
                <li>The best TV Serial is Sherlock (BBC)</li>
                <li>Yoga is my passion</li>
                <li>I think that moving is life, so let`s walk, dance and have fun together!</li>
            </ol>
        </section>
    </div>
</script>

<script  type="text/template" id="sasha">
    <div class="guide_page">
        <div class="header_title">
            <div class="header_tour_content">
                <h3>Sasha</h3>
            </div>
        </div>
        <div class="overlay_view_tour"></div>

        <section class="blacken gallery cycle-slideshow" data-cycle-slides="li.cycle-slide" data-cycle-pager=".cycle-pager">
            <ul>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/alex/01.jpg')"></li>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/alex/02.jpg')"></li>
                <li class="cycle-slide" style="background-image: url('/i/bgGallery/guides/alex/03.jpg')"></li>
            </ul>
            <div class="cycle-pager"></div>
        </section>
        <!--<section class="view_tour" style="background-image: url('/i/bgGallery/photo-tour/01.jpg');"></section>-->
        <div class="scroll_down">
            <div class="scroll_down_container">
                <div class="scroll_down_text">About me</div>
                <div class="scroll_down_icon"></div>
            </div>
        </div>

        <section class="description content_box whiten">
            <ol>
                <li>I am learning how to make vegetarian sushi. It's going well. </li>
                <li>
                    I would like to learn how to make Geogian food and open a Georgian restaurant called "Georgia" in
                    the US state of Georgia.
                </li>
                <li>
                    I have over ten different names that people call me: AlexANDria, AlexandRIa, Alexandra (people don't
                    seem to notice that this is a different name), Alya, Al, Ali, Sasha, Alex (least favorite), Zan,
                    Dria, Sashulia, Sashulkina, and other variations.
                </li>
                <li>My dream see all 7 summits.</li>
                <li>I love road trips and walking trips, but trains are my favorite transportation.  </li>
                <li>I often crave spicy food while living in Russia, a non-spicy food country. </li>
                <li>It would be cool to be a performance artist with a focus on acrobatics. </li>
                <li>
                    I always hoped I would be reborn an (aerial) dancer, or Ariel (the mermaid). But to be honest, I'd
                    rather not be reborn. :)
                </li>
                <li>I've tried living on an all fruit diet. It was interesting but didn't last.</li>
                <li>I'll try anything at least once.</li>
            </ol>
        </section>
    </div>
</script>