<script  type="text/template" id="mane-page">
    <div class="main-page">
        <div class="header_title">
            <div class="header_tour_content">
                   <div class="logo">Alina Moscow City Tours</div>
                <h3>Private tours of Moscow</h3>
                <div class="slogan">
                    Friendly, Fun & Flexible Local Guides
                </div>
            </div>
        </div>
        <div class="overlay_view_tour"></div>
        <section class="view_tour" style="background-image: url('/i/bgGallery/rsk/main.jpg');"></section>
    </div>
</script>