<!--RED SQUARE & KREMLIN-->
<script type="text/template" id="reviews">
    <section class="reviews">
        <section class="description_tour content_box whiten">
            <div class="tabs clearfix">
                <h3>Reviews</h3>
                <h3>Video reviews</h3>
            </div>
            <div class="panes">
                <ul class="written-reviews pane">
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina is an excelent companion. She's extremely fun, flexible and versatile and knows Moscow like the back
                        of her hand. She'll take you to every interesting and fun place you want to know in Moscow from the great
                        Museums, War Memorials and Cathedrals that represent Russia's splendour, to wonderful restaurants, cafes and
                        places where you can just chill out and enjoy your surroundings as if you were a muscovite all with a great
                        schedule flexibility. I spent over 10 days with her as my guide and I got to see so many facets of Moscow
                        the existence of which I wouldn't have even fathomed hadn't it been for Aina's company.
                        She'll make you feel like home and will guarantee that your visit is amazing!
                        <p class="tourist-writer"><em>Bernardo G, Mexico City, Mexico, May 2014</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Monika is young and energetic and wealth of
                        information. She is personable and it was a pleasure having her show us some of the highlights of
                        her city. I would highly recommend Alina if you are visiting Moscow and need a local tour guide.
                        <p class="tourist-writer"><em>Daniel Amos, USA, May 2014</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-4.png" alt=""/>Nastya was great. She is a very open person
                        and we had a great time visiting the Kremlin & Red Square with her. We just wished we had more time
                        to visit the inside of the Kremlin and the Armoury. I would definitely recommend her. She is very
                        pleasant to visit Moscow with, she has quite a lot of knowledge. Thanks Nastya!
                        <p class="tourist-writer"><em>Harma Vrieling, Holland, March 2014</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>My guide was very knowledgeable and gave me
                        very interesting facts about the places we were seeing,the city and the culture. We ate at local
                        cafes (good local food and prices). I could never have been able to manage the metro without her.
                        The tours were at a very relaxed pace but we saw a lot in our time together. I really enjoyed our
                        conversations and our days together. She made me feel comfortable in the areas we toured and I went
                        back on my own when not on tour. I highly recommend this guide and tour
                        <p class="tourist-writer"><em>Janis McCahill, Canada, March 2014</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Nastya, I really enjoyed our time together.
                        I enjoyed talking with you. You are an excellent guide and I learned so much about your beautiful
                        city. I missed you on Sunday. I went on the streets beside the Kremlin and went in many beautiful
                        churches. Red Square was so busy. You made a good choice showing us the Kremlin early in the week.
                        Thank you for our time together. I will not forget our time together. I wish you all the best.
                        <p class="tourist-writer"><em>Janis McCahill, Canada, March 2014</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Had a fantastic time on my tour with Alina
                        - she was extremely informative and professional, and good company as well. The tour was a blast, I
                        learned a ton, and she really helped me orient myself and find my footing around the city. Alina is
                        very passionate about Moscow and clearly loves to share her city with newcomers. She also had many
                        great tips and ideas for more things to do and try around the city for the duration of my stay. She
                        provided me with an unforgettable introduction to Moscow.
                        <p class="tourist-writer"><em>Patrick Kewley, UK, February 2014</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina met us promptly at the airport, helped
                        to find the luggage storage area, and we set out for our brief five hours of touring Moscow.She took
                        us on the train and metro, which we would never have figured out on our own. We enjoyed our walk
                        around Red Square and The Kremlin, as well as the modern shopping centre. Alina was so considerate
                        of whatever pace we wanted to keep and her graciousness was so appreciated.We would highly recommend
                        this guide and tour to anyone wishing to see Moscow.Truly amazing!
                        <p class="tourist-writer"><em>Judy Read, Canada, February 2014</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina and her tours are absolutely top notch.
                        I can't say enough about Alina and how great she is. She is my new best friend. xoxoxo
                        <p class="tourist-writer"><em>Daniel Amos, USA, February 2014</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>What a fabulous way to see Moscow. Alina
                        was most attentive, but relaxed and informative. I really felt I got to see more of the real Moscow
                        by being accompanied by Alina. I would highly recommend her to any other visitor to Moscow. Thank you
                        for a wonderful day. Keith
                        <p class="tourist-writer"><em>Keith Stanton, UK, December 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Upon arrival to Moscow I knew I was not in
                        Kansas anymore. I was so relieved that I had to foresight to set up a tour with Alina. She was kind,
                        knowledgable and made me feel at home in Russia the minute I meet her. She went the extra mile to
                        ensure that I was extremely well cared for, safe at all times and happy with every part of my journey.
                        I wish I could take her everywhere with me when I travel. I strongly encourage anyone coming to
                        Moscow to set up a tour with Alina. You won't be sorry, high rating
                        <p class="tourist-writer"><em>Angela DeRosa, USA, November 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>A great walking and metro tour of Moscow to
                        explore the hidden gems and the major sites. Alina has a lot of knowledge that she imparts very
                        clearly and with humour.
                        <p class="tourist-writer"><em>Rob MacDougall, Australia, October 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>A great night of experiencing Moscow like
                        a Muscovite with walking the main shopping district, local cafes, catching the metro, the fabulous
                        walk and then the view from Sparrow hill. If you want to experience Moscow like the locals do, this
                        is a must tour.
                        <p class="tourist-writer"><em>Rob MacDougall, Australia, October 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>As with the other two days with Alina, just
                        a wonderful experience with all her knowledge and providing us with the ability to see things that
                        the big bus tours never do. An easy pace with lots of history and wonderful sights.
                        <p class="tourist-writer"><em>Rob MacDougall, Australia, October 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Best Business Mans tour. See the Moscow
                        that is it's people. Alina took us to famous places that are not on the first tour you take. Perfect
                        English and great sense of humor and jokes. My business partner and I have been many times and now
                        I can see the city and it's people. We will defiantly be on tour again. Alina went to a exposition
                        with us and was a great help!!!!
                        <p class="tourist-writer"><em>Douglas Bruce, USA October 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina was really nice and helpul. She
                        totally understood our needs and adapted to them. She was nice, friendly, smilled a lot and sincere.
                        She also took care of our budget trying to take us to nice restaurants not expensive. Something very
                        important is that her english was really good! I could rate her service as "above expectations"!
                        Gracias Alina! Andrea from Mexico City.
                        <p class="tourist-writer"><em>Andrea Ortiz, Mexico, October 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>After 2 weeks back home in Canada, our time
                        in Russia already seems like an exotic dream. And we have Alina to thank for a terrific &
                        fascinating 2 days in Moscow. From the vastness of the Kremlin & Red Square to the delights of a
                        sweet in an extraordinary grocery shop, Alina was a constantly informative & pleasant companion.
                        We made excellent use of our time - & of course, 2 days is nowhere near sufficient time. So, thanks
                        Alina for all your efforts on our behalf.
                        <p class="tourist-writer"><em>Andrew & Sandra, Australia, September 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina was very friendly, prompt, efficient,
                        and knowledgeable. More importantly, she took the time to understand what we wanted and ensured that
                        we had a great time. We really enjoyed our time in Moscow with Alina.
                        <p class="tourist-writer"><em>Greg Parker, USA, August 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina made Moscow come alive for us because
                        she taught us to use the metro during visits to the stations. She took us to places where we could
                        explore on our own, she queued for us, she answered any many questions, she gave us excellent history
                        lessons and found delightfully different cafes and restaurants for traditional Russian food. She
                        listed sites she thought important but also listened to our wishes and incorporated these into our
                        days. Thanks to Alina we used our days fully and loved Moscow.
                        <p class="tourist-writer"><em>Judith Stewart, New Zealand, August 2013</em></p>
                    </li>


                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina was amazing, would highly recommend.
                        Really knows her city and is quiet the history buff.
                        <p class="tourist-writer"><em>Luke Rennie, Australia, August 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Instantly I knew I picked the right guide
                        when I meet Alina: she was smiling full of passion for her city wanting to share not only touristy
                        areas but Russia as seen by a Muscovite in their daily life. Prior to arrival with email she helped
                        me make a two day personalized tour. During the tour she was a lot of fun more like a friend than a
                        guide, not drowning me in historical facts but exploring the city together. <br/>
                        Thank you Alina for such a fun time. It seemed we were long lost friends sharing in the pleasures of
                        the adventures, the sights of the city, swimming in the rain flooded streets and enjoying coffee and
                        chocolate in Moscow's romantic cafe's delighting in each others company. You are the best guide a
                        person could ask for! I can't wait to see you again in February for another fun tour.
                        <p class="tourist-writer"><em>Kevin Ruth, Bremerton, Washington, July 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Just spent two days touring in Moscow with
                        Alina. She had great communication with me the 10 days or so before arrival and was very flexible to
                        our desires and had suggestions also. It was our first time in Moscow and we wanted a local guide.
                        She was very helpful and knowledgeable. She met us promptly at our apartment at agreed upon time.
                        She was able to react quickly to the Red Square being closed one day and able to get us into the
                        Kremlin Armory which we could have never done on our own. Then the next day we were able to see the
                        changing of the guard at the Kremlin which was a highlight for us. She took us to some nice
                        reasonable restaurants during the two days. She was very energetic and had great insights for us
                        about everyday Moscow. I don't see anyway to see Moscow for the first time without a guide like
                        Alina. She made the whole experience very relaxing.. I highly recommend Alina and would not hesitate
                        calling her if I get back to Moscow.
                        <p class="tourist-writer"><em>William Haehl, Shelbyville, Indiana, July 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Our tour with Alina was excellent. She
                        enabled us to see much more than we would have been able to on our own and was able to navigate the
                        site well to save time. We appreciated the extra care she took at the end of our tour to facilitate
                        an authentic Russian lunch. We would definitely book with Alina again.
                        <p class="tourist-writer"><em>Shauna Frisbie, USA, July 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>We opted for a very full day with over 10
                        hours of constant rush and tried to "cover" as many locations and expereinces as possible. Alina did
                        a great job sending us proposed plans ahead of time, adjusting for weather and other challenges, and
                        running from one place to another with us without any complaints. We felt we got a full value and
                        covered nearly everything we asked for.
                        <p class="tourist-writer"><em>Yossi Cohen, USA, July 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>I had read about Alina Moscow and instantly
                        loved the concept. My boyfriend and I are in our late 20s and we unfortunately don’t speak a lick of
                        Russian. We had scheduled a few tours through our hotels in St. Petersburg and Moscow, but we wanted
                        to try something different. Alina was our favorite tour guide and unlike the other tours we set up
                        through our hotels’ concierge service, Alina emailed us to customize our tour (Kremlin, Red Square,
                        St. Basil’s and the Armoury) to ensure we saw everything we wanted. She also asked if we needed
                        restaurant recommendations and to let her know if we had any questions before we arrived in Moscow.
                        Alina’s English was far better than our hotels’ contracted tour guides (She teaches business English)
                        and she was able to easily answer our questions about the Kremlin’s history and other Russian
                        cultural/political questions we had. <br/>
                        After the tour, Alina answered our questions on what we should do next in the city. We decided to
                        head over to Gorky Park and she accompanied us by metro and explained how to get to the next sight
                        once we were done. The metro system in Moscow is fast and efficient and we didn’t have too much of a
                        problem navigating it. The signs are in Cyrillic making it a little more challenging for English
                        speakers. <br/>
                        Alina is young and energetic and wealth of information. She is personable and it was a pleasure
                        having her show us some of the highlights of her city. I would highly recommend Alina if you are
                        visiting Moscow and need a local tour guide.
                        <p class="tourist-writer"><em>Amanda Woo, Washington DC, District of Columbia, July 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>We had a wonderful day with Alina! She
                        planned everything with a little input from us in advance. It seemed that we didn't have to wait in
                        a line anywhere, as she knew the best times to avoid such crowds. We like to walk and we did, but
                        Alina also made sure that we had rest periods too. We feel that we got real value. The Kremlin
                        armoury is a must! Beautiful parks and gardens, busy Metro subways(but it is the best way to get
                        from place to place), historic churches, picturesque river cruise, fabulous lunch! There is no way
                        we could have seen so much in such a short time on our owe. Scott and Betty Ann "from Canada"
                        <p class="tourist-writer"><em>Scott and Betty Ann Young, Canada, June 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina was a great guide in Moscow for
                        myself and my friend, she was kind and friendly and without her our trip would not have been as fun,
                        she was even so patient when I turned up to the tour having had my phone stolen and needed her help
                        to assist with the translation with the police etc. <br/>
                        We had a great day at the Kremlin, the Armory, The Ritz Carlton bar, we even had dinner with a Bear!
                        <p class="tourist-writer"><em>James Hickey, London, UK, June 2013</em></p>
                    </li>


                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Our guide Alina was very enthusiastic and
                        energetic. She brought us around to the key sites such as Kremlin armoury. We ended up walking much
                        more than we planned because she mixed up the times and one museum and half the day was wasted.
                        Perhaps just an off day. We were not pleased because we only had one day for sightseeing.
                        <p class="tourist-writer"><em>Ritesh Prasad, United States, June 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina was a friendly and helpful tour guide
                        during my two days in Moscow! I enjoyed my time with her and the information on the sites she was
                        able to take me to, definitely recommend her to anyone looking for a guide in Moscow. Thanks again Alina!
                        <p class="tourist-writer"><em>Ben Bernatchez, Canada, June 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>We asked Alina to show us the real Moscow
                        away from the general tourist attractions. We had a few must see like the Metro stations and Lubyanka
                        but other than that left the day to her. She was brilliant. She did suggest the changing of the guard
                        at the Kremlin as it only happened on a Saturday and was only in the Summer, we could have missed a
                        great event if she was not flexible with our brief. She is wonderful and very knowledgeable. I just
                        wish we could take her to every country we visit.
                        <p class="tourist-writer"><em>Beverley and Paul Cross, UK, June 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Our group would like to have had more
                        history presented. However, we could not have accomplished all we did without her organization and
                        her knowledge about the area.
                        <p class="tourist-writer"><em>William Haehl, USA, June 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>I went on the Izmaylovo flea market and
                        Kremlim tour with Alina in June. She was a fantastic tour guide - very enthusiastic (even early in
                        the morning!) and knowledgeable about all areas of Moscow, and also friendly and personable, with
                        lots of great suggestions for where else for me to visit once the tour had ended. I would definitely
                        recommend booking a tour with Alina for a personal and insightful tour of Moscow!
                        <p class="tourist-writer"><em>Alison Parker, UK, June 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Couldn't have been better. Smart on the fly
                        when weather turned bad. Little history,little architecture but lots of fun.
                        <p class="tourist-writer"><em>Dan McKay, USA, June 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>I was very nervous on my first day in Moscow
                        due to the size of the city and the complex nature of the subway. Alina showed me around the subway
                        and how to read the subway maps. Alina also showed me some of the highlights of Moscow and was very
                        helpful in helping me get around the city. I do regret not taking her advice and getting a taxi
                        pre-arranged from the airport. But Alina is a very good guide to show you around Moscow.
                        <p class="tourist-writer"><em>Dan Carson, Calgary, Canada, May 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina was delightful. She listened to my
                        interests and requirements and put together a detailed customized plan for me. She spoke excellent
                        English, was very knowledgeable, had interesting information and was able to answer just about any
                        question I asked. She was good company to have with me, she was fun to be with and had a good sense
                        of humor. I felt like I got the most out of my short visit to Moscow and she really made me not want
                        to leave.
                        <p class="tourist-writer"><em>Charles Lankford, USA May 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>My family and I took two walking tours with
                        Alina-one in the evening, another during the day. She is a very pleasant guide, knowledgeable about
                        the city, and ready with many different options for places to visit and things to do. Overall, she
                        was very accommodating to all of our needs and interests. I would recommend taking a walking tour
                        with Alina. She is very nice and enthusiastic about showing Moscow to visitors.
                        <p class="tourist-writer"><em>Alexandria Farriswheel, Murray, Kentucky, May 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>I had a great day in Moscow with Alina. She
                        communicated with me nicely before the trip to understand what I wanted to do and to plan a good day.
                        She put together a nice mix of important sites along with enjoying some relaxation around a meal and
                        street walking. She listened to what I was interested in and was very flexible and accomodating. The
                        information she provided was interesting, she was helpful but not overbearing. Alina is sweet and
                        you instantly fee you are in the hands of a caring friend.
                        <p class="tourist-writer"><em>Mary Catherine Fish, Washington DC, District of Columbia, May 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Thanks entirely to Alina, my wife, sister
                        and I had the great pleasure of getting to know quite a bit about Moscow during two short days we had
                        there in late-May. Alina was prompt in meeting us, very friendly and personable and particularly
                        helpful in making our time with her pleasurable and productive. We could not have asked for a more
                        enjoyable local expert to show us her City and all of the major points of interest that we identified
                        for her. In addition, she showed us some extra sights which we had not planned and made sure our
                        time was spent in the right places on the right days, as not all of the sights are open every day.
                        Thanks, Alina, you're the best!
                        <p class="tourist-writer"><em>Will Mercer, New York, New York, United States, May 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina planned and guided me on my tour on
                        the second day in Moscow and I can confidently say that Alina is a very friendly, helpful, and
                        informative guide who speaks very good english. She provided an excellent service and interacted
                        with me as a friend and not as customer which I found to be very pleasant and exceptional. I would
                        definitely choose her as a guide if I decided to visit again.
                        <p class="tourist-writer"><em>Majed Dweik, Damascus, Dimashq, Syria, March 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Prompt, smart and highly knowledgable.
                        I recommend her enthusiastically. She sincerely wants you to enjoy your tour and is flexible in
                        meeting your needs.
                        <p class="tourist-writer"><em>Steven Gart, New York, New York, United States, March 2013</em></p>
                    </li>

                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>We had such a good time with Alina on both
                        of the tours we did with her,(Flea market and Kremlin) She was knowledgeable, prompt and fun to be
                        with.. She even went the extra mile to make sure we were at the right train station and catching the
                        right train at the end of our tour thank you Alina
                        <p class="tourist-writer"><em>De Luckman, Australia, March 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina was a great guide. Her English is just
                        about flawless, and she communicated with me several times in advance to make sure that my tour
                        included everything that I wanted. She even arranged for some shopping and further negotiated a
                        discount beyond what the store was advertising. Thanks Alina!
                        <p class="tourist-writer"><em>Michael Ickowitz, USA, February, 2013</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina is the most professional and capable
                        tour guide I have met. She is very thorough, puts in the extra effort (even in the middle of a Moscow
                        winter) and really knows what she is doing. Very knowledgable of Russia, the local sites and
                        everything about the history and people Her rate was very reasonable and I spent 3 days with her
                        really enjoying the city. She got me tickers to local shows and made sure everything I needed, even
                        the very minute deatils, were taken care of. She found me dates to the Bolshoi and a night time tour
                        guide for the lighted city, gave me that extra feeling of being safe wherever we went. Enjoyed every
                        minute of her beautiful city and can't wait to get back. You won't be let down with her I guarantee
                        it.
                        <p class="tourist-writer"><em>Corey McCarter, Great Lakes, Illinois, December 2012</em></p>
                    </li>



                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>A very long overdue review here....
                        From Hunting down Stalin/Lenin in Red Square for a unique photo-op to stripping down naked in an
                        authentic russian "Banya" and so many stuff in between -- such as ethnic food /kebab tripping , to
                        sampling some Russian chocolates, Alina is key to your discovery of Modern Moscow. <br/>
                        A very young, friendly, energetic and flexible guide that can point the way, and show u a glimpse of
                        life behind (what used to be) the iron curtain. <br/>
                        You are safe in her hands....

                        <p class="tourist-writer"><em>John Ongcho, Manila, Philippines, October 2012</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina provided an excellent tour of Moscow
                        city. We asked for a walking and metro and she included the best metro stations. She was able to
                        judge our pace of the tour and offered adequate historical information. She arrived on time and
                        served as an excellent resource for other things to do in Moscow. HIGHLY RECOMMENDED!!!!!
                        <p class="tourist-writer"><em>Toni Thompson, USA, September 2012</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>We truly had a great experience with Alina.
                        She was very good at tayloring the tour to our interests. She was a great resource and truly made
                        our experience quite nice. Alina's help set up the rest of our Moscow trip. She created an
                        understandable map of the subway and the attractions we wanted to see. This allowed us to get around
                        Moscow and enjoy the city. Alina was really patient and helpful. We would highly recommend her for
                        anyone who wants to get great treatment at the start of their Moscow trip.
                        <p class="tourist-writer"><em>Paul Freifeld, USA, September 2012</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>I had a fantastic half day tour of Moscow
                        with Alina B. We went to all of the main Moscow sights such as Red Square, Alexander Gardens, Old
                        Arbat Street, St Basil's Cathedral and GUM. She gave an enjoyable and friendly tour. She speaks
                        excellent English and knows lots of interesting information and facts about Moscow. I would
                        definitely recommend Alina B as a tour guide for Moscow. You definitely need a tour guide for
                        Moscow, it is a very big city and easy to get lost and even more so if you don't speak Russian.
                        <p class="tourist-writer"><em>Jessica Heaven, Birmingham, United Kingdom, August 2012</em></p>
                    </li>

                    <li>
                        <img class="rating" src="../i/stars/stars-3.png" alt=""/>She is very nice person but had limited
                        knowledge of the history
                        <p class="tourist-writer"><em>Omid Khorram, Iran, August 2012</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Alina Moscow has provided the best in sight
                        seeing and historical information by far of any of the other companies I have spoken with. Alina is
                        exceedingly friendly, knowledgeable, and she goes out of her way to ensure that you have a great
                        time. <br/>
                        She is also well versed on all of the major sights to see, but her knowledge of the smaller things,
                        hidden gems of awesomeness in this huge city make her a cut above many others. <br/>
                        I highly recommend and encourage anyone thinking of visiting Moscow to book a guided tour with this
                        company.

                        <p class="tourist-writer"><em>John Ludlam Jr., Flowery Branch, Georgia, August 2012</em></p>
                    </li>
                    <li>
                        <img class="rating" src="../i/stars/stars-5.png" alt=""/>Before our tour, she communicated with me
                        frequently to customize our tour to details. She arrived promptly at the appointed time and was very
                        open and friendly, which was very soothing considering most Russians never smile. Alina spoke
                        perfect English. Her knowledge of authentic places in Moscow was exceptional! She was extremely
                        helpful explaining how the metro works & giving advice for the rest of my stay. She made things
                        looked so seamless, it would be impossible to have explored so much of Moscow in just 2 days without
                        her. Apart from must-do sights, we had quite a deep incourse into a local every-day life of
                        Muscovites, including local events that were worth viewing. It was fun and quite an experience,
                        just what I wanted.

                        <p>
                            I had two full days of touring in Moscow with Alina, during which she gave me more than I
                            could have asked for. Thank you so much, Alina!
                        </p>
                        <p class="tourist-writer"><em>Tony Brookbank, Melbourne, Australia, June 2012 </em></p>
                    </li>
                </ul>


                <ul class="video-reviews pane">
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/cxsY0J-VrpY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/wGcqLS9EXgM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/vsCIQgLnXTk?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/rs70IlJY5dE?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/FasrEO61JdY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/5a7A603p1wM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/5mIQWtzMfos?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/XVtp96PRtY0?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/SN5mnk7FHCY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/XgkLy6QEA20?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/aJIhUijSbcc?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/xzLw99USupM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe width="640" height="360" src="//www.youtube.com/embed/4ZFcKep7qWA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</script>
<!--END OF RED SQUARE & KREMLIN-->

